.other-utilities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 160px); /* Subtracting the total horizontal margin */
    overflow: hidden;
    max-height: 200px;
    margin: 15px 80px;
    padding: 15px;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
  .other-utilities-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 90px; /* Add gap between items */
    animation: marquee 50s linear infinite;
    animation-play-state: running; /* Start the animation */
  }
  
  .other-utilities-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .other-utilities-item.active {
    /* opacity: 1; */
  }
  
  .other-utilities-item img {
    width: 100px;
    height: 100px;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%); /* Start from the extreme right */
    }
    100% {
      transform: translateX(-10%); /* Move to the extreme left */
    }
  }
  
  /* Stop animation on hover */
  .other-utilities-container:hover .other-utilities-list {
    animation-play-state: paused;
  }
  