.slider {
  height: auto;
  /* width: 100vw; */
}

.sliderImg {
  width: 100%;
  height: 33vw;
}

.image-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.image-container img {
  width: 100%;
  display: block;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .hover-text {
  opacity: 1;
}

@media (max-width: 1180px) {
  .sliderImg {
      height: 250px;
  }
}

@media (min-width: 1380px){
  .sliderImg{
    height: 30rem;
  }
}
